/*  medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 1rem;
    }
}

@media (max-width: 1088px) {
    .d-flex {
        padding-top: 0px;
    }

    ul a i {
        color: white;
    }

    nav.navbar.bootsnav ul.nav>li>a {
        color: white;
    }

    .text-center {
        margin-top: 50px;
    }
}

@media(min-width: 1024px) {
    nav.navbar.bootsnav ul.nav>li>a {
        color: white;
    }

    nav.navbar.bootsnav .navbar-toggle {
        background: none;
    }

    nav.navbar.bootsnav ul.nav>li>a {
        text-align: center;
    }

    nav.navbar.bootsnav.no-background.white .attr-nav>ul>li>a,
    nav.navbar.bootsnav.navbar-transparent.white .attr-nav>ul>li>a,
    nav.navbar.bootsnav.navbar-transparent.white ul.nav>li>a,
    nav.navbar.bootsnav.no-background.white ul.nav>li>a {
        color: white;
    }

    ul li i {
        color: white;
    }

    .home_text {
        padding-top: 150px;
    }
}