@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {

    .sm-text-center {
        text-align: center !important;
    }

    h3 {
        padding: 20px;
    }

    nav.navbar.bootsnav.footer-menu {
        background-color: transparent;
        border-bottom: 0px solid;
    }

    nav.navbar.bootsnav.footer-menu .navbar-toggle {
        background-color: transparent !important;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 90%;
        line-height: 2rem;
    }

    .appdownload {
        padding-top: 50px;
    }
}